In [1]:
import numpy as np
import pandas as pd

In [2]:
ser=pd.Series(np.random.random(5),name="Column 1")

In [3]:
ser

0    0.340790
1    0.646659
2    0.605979
3    0.858105
4    0.840181
Name: Column 1, dtype: float64

In [4]:
ser[2]

0.6059786186889159

In [5]:
from pandas_datareader import data as wb

In [6]:
PG=wb.DataReader('PG',data_source='yahoo',start='1995-1-1')

In [7]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,8.063840
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,7.999201
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,7.886079
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,7.902242
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,7.869921
...,...,...,...,...,...,...
2021-09-10,144.460007,143.320007,144.059998,144.130005,5749100.0,144.130005
2021-09-13,147.229996,144.850006,144.850006,145.679993,9952500.0,145.679993
2021-09-14,146.360001,144.949997,146.130005,145.429993,5831800.0,145.429993
2021-09-15,145.770004,144.740005,145.350006,145.119995,6237100.0,145.119995
2021-09-16,145.190002,142.820007,144.839996,144.110001,5828349.0,144.110001

In [8]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6725 entries, 1995-01-03 to 2021-09-16
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6725 non-null   float64
 1   Low        6725 non-null   float64
 2   Open       6725 non-null   float64
 3   Close      6725 non-null   float64
 4   Volume     6725 non-null   float64
 5   Adj Close  6725 non-null   float64
dtypes: float64(6)
memory usage: 367.8 KB

In [9]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.063840
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.999201
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.886079
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.902242
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.869921

In [10]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-09-10,144.460007,143.320007,144.059998,144.130005,5749100.0,144.130005
2021-09-13,147.229996,144.850006,144.850006,145.679993,9952500.0,145.679993
2021-09-14,146.360001,144.949997,146.130005,145.429993,5831800.0,145.429993
2021-09-15,145.770004,144.740005,145.350006,145.119995,6237100.0,145.119995
2021-09-16,145.190002,142.820007,144.839996,144.110001,5828349.0,144.110001

In [11]:
PG.head(20)

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.063840
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.999201
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.886079
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.902242
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.869921
1995-01-10  15.43750  15.18750  15.28125  15.40625  4364000.0   7.966884
1995-01-11  15.59375  15.37500  15.59375  15.37500  3738400.0   7.950720
1995-01-12  15.53125  15.31250  15.37500  15.53125  3307600.0   8.031521
1995-01-13  15.84375  15.53125  15.59375  15.62500  3992800.0   8.125779
1995-01-16  15.96875  15.75000  15.90625  15.75000  3677200.0   8.190788
1995-01-17  15.81250  15.65625  15.71875  15.81250  2437600.0   8.223289
1995-01-18  15.75000  15.43750  15.68750  15.46875  3535200.0   8.044519
1995-01-19  15.40625  15.34375  15.34375  15.40625  2491200.0   8.012021
1995-01-20  15.40625  15.25000  15.40625  15.34375  5130800.0   7.979516
1995-01-23  15.50000  15.18750  15.18750  15.50000  3147200.0   8.060775
1995-01-24  15.53125  15.37500  15.50000  15.46875  2016400.0   8.044519
1995-01-25  15.78125  15.43750  15.50000  15.68750  2802400.0   8.158283
1995-01-26  15.84375  15.68750  15.71875  15.75000  3124000.0   8.190788
1995-01-27  16.25000  15.81250  15.81250  16.18750  6247200.0   8.418306
1995-01-30  16.56250  16.09375  16.12500  16.43750  5226400.0   8.548315

In [12]:
PG.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-08-19,145.279999,143.160004,143.160004,144.990005,5787200.0,144.990005
2021-08-20,145.979996,144.779999,145.250000,145.089996,5273800.0,145.089996
2021-08-23,145.339996,144.229996,144.289993,144.350006,4522200.0,144.350006
2021-08-24,144.149994,142.979996,144.009995,143.179993,4560400.0,143.179993
2021-08-25,143.130005,142.250000,143.070007,142.669998,3861500.0,142.669998
2021-08-26,142.710007,141.470001,142.559998,142.419998,4749400.0,142.419998
2021-08-27,142.770004,141.639999,142.479996,142.309998,4741200.0,142.309998
2021-08-30,142.990005,142.050003,142.600006,142.929993,3845800.0,142.929993
2021-08-31,143.529999,142.050003,143.039993,142.389999,9642400.0,142.389999
2021-09-01,144.190002,142.229996,142.330002,143.839996,6214200.0,143.839996
2021-09-02,144.729996,143.580002,143.970001,143.949997,5392500.0,143.949997
2021-09-03,144.369995,143.520004,143.759995,144.050003,5466400.0,144.050003
2021-09-07,144.500000,143.289993,144.320007,143.509995,6520600.0,143.509995
2021-09-08,144.940002,143.009995,143.080002,144.600006,6897800.0,144.600006
2021-09-09,144.880005,143.649994,144.570007,143.990005,6354700.0,143.990005
2021-09-10,144.460007,143.320007,144.059998,144.130005,5749100.0,144.130005
2021-09-13,147.229996,144.850006,144.850006,145.679993,9952500.0,145.679993
2021-09-14,146.360001,144.949997,146.130005,145.429993,5831800.0,145.429993
2021-09-15,145.770004,144.740005,145.350006,145.119995,6237100.0,145.119995
2021-09-16,145.190002,142.820007,144.839996,144.110001,5828349.0,144.110001

In [13]:
tickers=['PG','MSFT','T','F','GE']
new_data=pd.DataFrame()
for t in tickers:
    new_data[t]=wb.DataReader(t,data_source='yahoo',start='1995-1-1')['Adj Close']

In [14]:
new_data.tail()

                    PG        MSFT      T      F          GE
Date
2021-09-10  144.130005  295.709991  27.18  12.68  102.000000
2021-09-13  145.679993  296.989990  27.52  12.99  104.459999
2021-09-14  145.429993  299.790009  27.33  12.86  100.379997
2021-09-15  145.119995  304.820007  27.57  13.22  102.160004
2021-09-16  144.110001  305.220001  27.60  13.40  101.339996